body {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-image: url("casino.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Casino', sans-serif;
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 15px 15px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: 'ArcadeClassic', sans-serif;
}

button:hover {
    color: rgb(241, 201, 68);
    box-shadow: 0 5px 15px rgba(159, 225, 255, 0.4);
}

#player-info {
    text-align: center;
    color: white;
}